#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_wrapper {
        position: relative;
    }

    h2 {
        justify-self: start;
        align-self: flex-start;
    }

    .text {
        @media screen and (min-width: 900px) {
            margin: 2rem 0 4rem 0;
        }

        @media screen and (min-width: 1024px) {
            position: relative;

            &::before {
                content: url(../images/exc.svg);
                position: absolute;
                width: 100px;
                top: 30%;
                right: 127%;
                transform: translate(50%, 0);
                z-index: -10;
            }

            &::after {
                content: url(../images/exc.svg);
                position: absolute;
                width: 100px;
                top: 30%;
                left: 100%;
                transform: translate(50%, 0) scaleX(-1);
                z-index: -10;
            }
        }
    }
}