$logo-orange: #ff6600;
$white: #fff;
$dark-grey: #1c1c1c;
$text-color: #343434;
$light-grey: #E2E2E2;
$lighter-grey: #eee;
$light-orange: #FFE0CC;

$h1-desktop-size: 3rem;
$h1-desktop-weight: 800;
$h1-desktop-height: 3.15rem;

$h2-desktop-size: 2.25rem;
$h2-desktop-weight: 800;
$h2-desktop-height: 2.8125rem;

$h3-desktop-size: 1.75rem;
$h3-desktop-weight: 800;
$h3-desktop-height: 2.1875rem;

$h4-desktop-size: 1.125rem;
$h4-desktop-weight: 800;
$h4-desktop-height: 1.35rem;

$text-desktop-size: 1rem;
$text-desktop-weight: 500;
$text-desktop-height: 1.375rem;

$h1-tablet_l-size: 2.5rem;
$h1-tablet_l-weight: 800;
$h1-tablet_l-height: 2.8125rem;

$h2-tablet_l-size: 2rem;
$h2-tablet_l-weight: 800;
$h2-tablet_l-height: 2.5rem;

$h3-tablet_l-size: 1.5rem;
$h3-tablet_l-weight: 800;
$h3-tablet_l-height: 1.875rem;

$h4-tablet_l-size: 1.125rem;
$h4-tablet_l-weight: 800;
$h4-tablet_l-height: 1.35rem;

$h1-mobile-size: 2rem;
$h1-mobile-weight: 800;
$h1-mobile-height: 2.5rem;

$h2-mobile-size: 1.625rem;
$h2-mobile-weight: 800;
$h2-mobile-height: 1.86875rem;

$h3-mobile-size: 1.5rem;
$h3-mobile-weight: 800;
$h3-mobile-height: 1.875rem;

$h4-mobile-size: 1.125rem;
$h4-mobile-weight: 800;
$h4-mobile-height: 1.35rem;

$text-mobile-size: 1rem;
$text-mobile-weight: 500;
$text-mobile-height: 1.25rem;